
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#875A7B">Automatic Overtime Calculation</h2>
        </div>
        <p class="oe_span12 oe_mt32 oe_spaced ">
        The <strong>automatic overtime calculation </strong>module from <strong><a href="http://www.broadtech-innovations.com/">BroadTech IT Solutions</a></strong>
         helps an organizations to manage overtime of employees based on  login and logout information in the attendance record. 
        </p>
        
	<div class="oe_span8 oe_centered">
        <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image1.png">
        </div>
    </div>
	
	<div class="oe_span4">
	 <p class="oe_mt32 oe_spaced text-justify">
 	The module has added a new field in the contract form of the employee, which defines the daily working hours of the employee during the contract period	 </p>
     </div>
     
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span4">
            <p class="oe_mt32 oe_spaced text-justify">
			The overtime calculation takes working hour from the contract along with the sign in and sign out data to calculate the overtime hours. For automating this calculation, a scheduler is defined			</p>

        </div>
        <div class="oe_span8">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image2.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span8">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image3.png">
            </div>
        </div>
        
        <div class="oe_span4">
			<p class="oe_mt32 oe_spaced text-justify">
				The scheduler, checks attendance table for consecutive login and log out information of employees and finds the total IN time for the day. 
				</p>
		<p class="oe_mt32 oe_spaced text-justify">
			If the the total hours exceeds working hours, an overtime record corresponding to the employee would be created for approval of the manager.			
		</p>
	</p>
        </div>
       
    </div>
</section>



<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span4">
            <p class="oe_mt32 oe_spaced text-justify">
The over time record goes through an Approval process, during which the manager can decide whether the automatic calculation based on attendance data is genuine overtime or not. 			
</p>
	
        </div>
        <div class="oe_span8">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image4.png">
            </div>
        </div>
        <p class="oe_span12 oe_mt32 oe_spaced text-justify">
The approved  overtime records of the employee can later be used in the payslip for calculating overtime allowance. This can be done with the help of a payroll salary rule defined for overtime.
	</p>
        
        <div class="oe_span12 oe_spaced">
        <p class='oe_mt32 '>
    For any assistance please feel free to contact us: contact@broadtech-innovations.com
     </p>
        </div>
        
    </div>
</section>



       
       
    
